.container {
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
}

.title {
  margin-bottom: 20px;
  font-weight: 200;
  color: var(--textSoft);
}

.table {
  width: 100%;
}

.table thead {
  background-color: var(--bg);
}

.table thead tr td {
  font-weight: bolder;
}

.table td {
  padding: 10px;
}

.transaction {
  display: flex;
  gap: 10px;
  align-items: center;
}

.userImage {
  object-fit: cover;
  border-radius: 50%;
}

.orderStatus {
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
  color: white;
}

.positiva {
    color: rgb(0, 209, 0);
  }
  
  .negativa {
    color: red;
  }
  
  .pending {
    color: yellow;
  }
  
  .done {
    color: cadetblue;
  }
  
  .cancelled {
    color: red;
    text-decoration: line-through;
  }